<!--
body {
background-color:#000;
background-image: url('background.png');
text-align:center;
font-family: Verdana, Sans Serif;
font-size: 14px;
}
.container {
width:800px;
background-color: #BBB;
margin: auto auto;
border-radius:  10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
.header{	
width: 778px;
margin-top:5px;
margin-bottom:5px;
margin-right:5px;
margin-left:5px;
border-radius:  10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div.content{
display:none;
}
#menu{
color: #EEE;
font-size: 0px;
margin-left: -39px;
}
#menu ul li {
display:inline;
margin-top:0px;
margin-bottom:0px;
margin-right:0px;
margin-left:0px;
font-size: 15px;
}

#menu ul li a {
text-decoration: none;
padding: 0px 0px;
color: #000;
background-color: #EEE;
margin-top:0px;
margin-bottom:0px;
margin-right:0px;
margin-left:0px;
padding-right: 20px;
padding-left: 20px;
}
#menu ul li a:hover{
text-decoration: none;
color: #000;
background-color: #CCC;
}
.content {
height: auto;
width: auto;
background-color: #DDD;
margin-top:5px;
padding: 20px;
margin-bottom:5px;
margin-right:5px;
margin-left:5px;
border-radius:  10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
.small {
font-size:2px;
}
#contentB {
text-align:left;
}
.teams tr td,.teams tr th{
padding-right: 5px;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
}
.teams tr th {
background-color: #EEE;
}
.sponsors tr * div.logo {
display: none;
position: absolute;
margin-top: -40px;
left: 10px;
}
.teams tr:hover{
background-color: #EEE;
}
.sponsors tr:hover * .logo{
display: block;
}
.sponsors tr td,.sponsors tr th{
padding-right: 5px;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 12px;
}
.sponsors tr th {
background-color: #EEE;
}
.sponsors tr:hover{
background-color: #EEE;
}
.sponsor:link{
text-decoration: none;
color: 000;
}
.sponsor:visited{
text-decoration: none;
color: 000;
}
.sponsor:active{
text-decoration: none;
color: 000;
}
-->
